/** badges **/ 
.user_badges img.badge{
  width: 45px;
  height: 60px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
}


/** people listing section **/
.commons-search-solr-user-results div.profile>h3{
  font-size:14px;
  line-height: 14px;
  border:0 !important;
}
/** admin menu redefinition **/
div#admin-menu {
  background: #777;
  border-bottom: 1px solid #999;
}
div#admin-menu .dropdown a, 
div#admin-menu .dropdown li > span {
  border-right: 1px solid #666 !important;
}
div#admin-menu li.admin-menu-account > a {
  background: #B94A48 !important;
}
div#admin-menu .dropdown .admin-menu-action a {
  border-left: 0 !important;
}
div#admin-menu .dropdown a:hover, 
div#admin-menu .dropdown li > span:hover {
  background:#fff;
  color:#666 !important;
}

/** brand image fix **/
.navbar .brand img {
  height: 30px;
}
/** text center **/
.t-center{
  text-align:center;
}
/** header search box **/
#navbar #edit-keys,
#navbar #edit-keys2{
  width: 225px;
  height: 16px;
  margin-top: 4px;
}
#navbar button.btn.btn-inverse {
  height: 27px;
  margin-top: 3px;
}
/** css redefinition **/
#content div.form-item, 
#content div.form-actions {
  margin-top: 0.5em;
}
/** do not display hidden captcha **/
div.captcha {
  visibility: hidden;
  margin-top: -70px;
}

/** remove names from follow boxes **/

div.view-commons-follow-user-followers div.views-field-name ,
div.view-commons-follow-user-following div.views-field-name {
  display:none;
}
#content .form-actions {
  margin-top: 0;
}
#navbar div.user-picture a>img,
.image30_30 {
  width: 15px;
  height: 15px;
  margin:0;
  padding:0;
  
}
/** btn-mini **/
#edit-actioncommons-trusted-contacts-set-state-active-action,
#edit-actioncommons-trusted-contacts-set-state-blocked-action,
#edit-actionog-membership-delete-action {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/** search result snippets **/
.search-result-wrapper {
  padding: 0.5em 0.5em 0 0.5em;
  /*background-color: rgba(182, 215, 168, 0.47);*/
  background-color:#f5f5f5;
  border: 1px solid #FFF;  
}
.search-result-wrapper:hover {
  border: 1px solid #ccc;  

}
.search-result-snippet node-teaser {
  margin-top:5px;
}
.search-result-snippet ul.links.inline {
  margin-bottom: 0 !important;
}
div.panel-pane div.node-resource-agrisap, div.panel-pane div.node-resource-dc{
  margin-top: 10px !important;
}
.search-result div.search-result-wrapper h3.title,
.search-result div.search-result-wrapper h3.title a{
  color:#0088cc;
  text-decoration:none;
  font-size: 21px;
}
.search-result div.search-result-wrapper h3.title a:active,
.search-result div.search-result-wrapper h3.title a:hover
{
  color:#005580;
  text-decoration:none;  
}
/** no preview buttons at all **/
#edit-preview {
  display:none;
}
.inline-block {
  display:inline-block;
}
.left {
  float:left;
}
.search-result-snippet div.profile h3 {
  display:none;
}
#content div.pane-custom.bg,
#content div.pane-views,
#content div.pane-block,
div.pane-page-content div.pane-block,
div.pane-page-content div.pane-views,
div.pane-page-content div.pane-views-panes,
div.pane-page-content div.pane-custom,
div.pane-page-content section.bg,
div.pane-page-content div.bg,
div.pane-page-content form.comment-form
 {
  border: 1px solid #CCC;
  background-color: #F5F5F5;
  /*background-color:#b6d7a8; green*/
  border-radius: 3px;
  /*
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
  */
  padding: 0 0.5em 0.5em 0.5em;
 
}

ul.links.inline {
  margin-bottom:15px !important;
}
/** default unordered lists in blocks: selected item **/
.panel-pane.pane-block .pane-content .item-list li>a:hover,
.panel-pane.pane-block .pane-content .item-list li>a:active
 {
  text-decoration: none;
  background-color: #EEE;
  color: #005580;
  outline: 0;
}
/** search section fixes **/
form.search-form input#edit-keys { 
  width: 100%;
}
form.search-form #edit-submit { 
  width: auto;
}

/** 'bootstrapize' tables **/
table>thead>tr>th {
  border-bottom:0;
}
tr td.active {
  background-color: transparent;
}
table.sticky-table {
  background-color: #fff !important;
}
table.sticky-table tr {
  border-bottom: 0;
  border-top: 1px solid #eee;
}
table.sticky-table tr.odd {
  background-color: #f5f5f5 !important;
}
table.sticky-table tr.even {
  background-color: #fff !important;
}
/** word 'new' in new comments in red **/
span.marker,
.comment.comment-new span.new {
  color:white !important;
  background-color: #B94A48;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
}

/** default unordered lists in blocks **/
.panel-pane.pane-block .pane-content .item-list li>a{
  padding: 3px 10px;
  margin-left: -30px;
  margin-right: -5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  display: block;
  line-height: 20px;
}
/** default unordered lists in blocks **/
.panel-pane.pane-block .pane-content .item-list ul{
  list-style: none;
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 0;
}
/** no ul image in facets **/
ul li.leaf {
  list-style-image: none !important;
  list-style-type: none !important;
}
.form-actions {
/** shorten submit boxes**/
  margin-bottom: 0;
}
/** acordion collapsible **/
fieldset.collapsible {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0.5em 0;
}
/** responsiveness fix **/
html.js fieldset.collapsed .fieldset-wrapper{
  display:none;
}

fieldset.collapsible>legend {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  margin:0 -1px -1px -1px;
  border-bottom:0;
  border: 1px solid #e5e5e5;
}
fieldset.collapsible.collapsed>legend {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

fieldset.collapsible .fieldset-wrapper{
  display: block;
  padding: 9px 15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
}

/** acordion collapsed **/


div.node.node-teaser h2{
  font-size: 19px;
  font-weight: bold;
  height: 19px;
  line-height: 19px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-rendering: optimizelegibility; 
}
.rate-info, 
.rate-description {
  clear: left;
}
#edit-revalidate--2 .fieldset-wrapper>a,
.node-readmore a,
.comment-add a,
.flag-wrapper a,
.flag-commons-follow-node a,
.flag-wrapper.flag-commons-follow-node a,
.flag-wrapper flag-commons-follow-group a {
/** bootstrap buttonize **/
/** .btn **/
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
color: #333;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
background-color: #F5F5F5;
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
border-color: #E6E6E6 #E6E6E6 #BFBFBF;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
border: 1px solid #CCC;
border-bottom-color: #B3B3B3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

/** mini button **/
padding: 0 6px;
font-size: 10.5px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.white {
  color: white !important;
}
.flag-commons-follow-node a,
.flag-wrapper flag-commons-follow-group a,
.flag-wrapper flag-commons-follow-poll a,
.flag-wrapper flag-commons-follow-notice a,
.flag-wrapper flag-commons-follow-post a,
.flag-wrapper flag-commons-follow-question a,
.flag-wrapper flag-commons-follow-answer a,
.flag-wrapper.flag-commons-follow-node a {
/** button info **/
color: #FFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #49AFCD;
background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
border-color: #2F96B4 #2F96B4 #1F6377;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

}
.field.field-name-field-topics {
  margin-bottom: 1em;
}
.field-name-field-topics .field-items .field-item {
/** tags **/
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
display: inline-block;
padding: 2px 4px;
font-size: 11.844px;
font-weight: bold;
line-height: 14px;
color: #FFF;
vertical-align: baseline;
white-space: nowrap;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #999;
/** bg-red **/
  background-color: #B94A48;
/** bg-black **/
  background-color: #333;
}
.field-name-field-topics .field-items .field-item a {
/** white **/
  color: white !important;

}
#edit-revalidate--2 .fieldset-wrapper>a,
.node-readmore a {
/** btn-primary **/
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #006dcc;
background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
background-image: -o-linear-gradient(top, #0088cc, #0044cc);
background-image: linear-gradient(to bottom, #0088cc, #0044cc);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#edit-actioncommons-trusted-contacts-set-state-blocked-action:hover,
#edit-actionog-membership-delete-action:hover,
input#edit-cancel:hover,
input#edit-cancel--2:hover,
.flag-abuse-user a:hover{
/** bnt-danger **/
  color: #ffffff;
  background-color: #bd362f;
}
#edit-actioncommons-trusted-contacts-set-state-blocked-action,
#edit-actionog-membership-delete-action,
input#edit-cancel,
input#edit-cancel--2,
.flag-abuse-user a{
/** bnt-danger **/
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.panel-pane.pane-page-content.container 
h2.pane-title {
/*  color:#08C;*/
  /** blue **/ 
  color:#005580;
}

.panel-pane.pane-page-content.container 
 .panelizer-view-mode.node-full>h2 {
  display:none;
}

div.rate-average {
  display:inline-block;
  line-height:1px;
} 
/** sharethis icon remove **/
span.st_sharethis_hcount,
.stMainServices.st-sharethis-counter {
  display:none;
}
.sharethis {
  float: left;
}

div.warning, table tr.warning {
  background-color: #FCF8E3 !important;
  border: 1px solid #FBEED5 !important;
}
div.status, table tr.ok {
  background-color: #DFF0D8 !important;
}
div.error, table tr.error {
  background-color: #F2DEDE !important;
}
#comment-form #edit-actions,
#user-login #edit-actions{
  margin-bottom:0;
  padding-bottom:0;
}

div.pane-page-content div.pane-block.no-bg,
div.pane-page-content div.pane-views-panes.no-bg,
div.pane-page-content div.pane-custom.no-bg {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 0 0.5em 0.5em 0.5em;
 
}

h2.pane-title,
div.pane-views-panes>h2, 
div.pane-block>h2
{
  color:#000;
  font-size: 23.5px;
  line-height: 23.5px;
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
  text-transform:capitalize;
}
i.icon-en{
  background-position: 0;
  background-repeat: no-repeat;
  padding-left: 5px;
  background-image: url('/sites/all/modules/languageicons/flags/en.png') !important;
}

#navbar .input-append input, 
#navbar .input-append select, 
#navbar .input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
div.pane-footer,
div.panels-flexible-region-first,
div.panels-flexible-region-last {
  margin-top: 1.5em;
}
.panels-flexible-region-2col33_66-center {
  margin-top:1.5em;
}
div.panel-pane.pane-pm-existing-pages #search-form {
  display: block;
}
#search-form,
#navbar #search-form--2{
    display: none;
}
.panel-pane #search-form2 {
  margin-top:1.5em;
}
form#search-form2 { 
  margin-right: 10px;
}
nav input#edit-keys {
  width: 235px;
  height: 19px;
  margin-top: 1px;
}
.not-visible{
  visibility: hidden;
}
#navbar .input-append .add-on:last-child, 
#navbar .input-append .btn:last-child, 
#navbar .input-append .btn-group:last-child>.dropdown-toggle {
  -webkit-border-radius: 0 3px 3px 0; 
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#navbar .input-append, 
#navbar .input-prepend {
  margin-bottom: 5px;
  margin-top: 5px;
}
html.js input.form-autocomplete {
  background-position: 100% 8px;
}
html.js input.throbbing { 
  background-position: 100% -13px;
}
.node-teaser h2 {
  display:inline-block;
}
.node-teaser>a>img{
  width:30px;
  height:30px;
}
div.pagination.pagination-centered ul {
 display: -webkit-inline-flex;
 display: inline-table;
}
div.panel-pane div.node-resource-agrisap,
div.panel-pane div.node-resource-dc {
  margin-top: 2em;
}
/** home page search snippets **/
#quicktabs-container-commons_bw div.views-row-even div.node-teaser {
  /*background-color: #e6e6e6;*/
  /*background-color: rgba(182, 215, 168, 0.47);*/
  background-color: rgba(120, 181, 184, 0.25);
  border-bottom-color: #CCC;
  border: 1px solid #FFF;
  
}
#quicktabs-container-commons_bw div.node-teaser {
  background-color: #F5F5F5;
  margin-bottom: 1em;
  padding: 0.5em;
  border-bottom: 1px solid #DDD;
  border-top:1px solid #fff;
  border-left:1px solid #fff;
  border-right:1px solid #fff;
  
}

#quicktabs-container-commons_bw div.views-row-even div.node-teaser:hover {
  border:1px solid #ccc;
  /*box-shadow: 0 0 15px 1px #E2E2E2;*/
}

#quicktabs-container-commons_bw div.node-teaser:hover {
  border:1px solid #ccc;
  /*box-shadow: 0 0 15px 1px #E2E2E2;*/
}
div#comments div.comment {
  background-color: #F5F5F5;
  margin-bottom: 1.5em;
  padding: 0.5em;
  border-bottom: 1px solid #DDD;
  
}
div#comments > h2 {
  display:inline-block;
  font-size:1.5em;
}
div#comments div.comment > h2 {
  display:inline-block;
  color:red;
}
div.messages {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #FFF;
}
div#comments  h3 {
  display:inline-block;
}

div#comments div.comment a>img{
  width:35px;
  height:25px;
}

.voa3r-video {
  min-width:500px;
}
/**** hidden elemments ****/
#edit-comment-body-und-0-format,
#edit-og-group-ref,
.full-form {
  
  /*FIXME display:none; */ 
}
/**** hidden elemments ****/
.padtop1{
  padding-top:1em !important;
}
.padtop05{
  padding-top:0.5em !important;
}
.padtop15{
  padding-top:1.5em !important;
}
.marbot0{
  margin-bottom:0 !important;
}
.martop1{
  margin-top:1em !important;
}
.martop05{
  margin-top:0.5em !important;
}
.martop15{
  margin-top:1.5em !important;
}
.marbot1{
  margin-bottom:1em !important;
}
.marbot05{
  margin-bottom:05em !important;
}
.marlef1{
  margin-left:1em !important;
}
.marlef01 {
  margin-left: 10px !important;
}
.marrig1{
  margin-right:1em !important;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  height: 230px;
  margin: 0 auto;
}
.panelizer-view-mode.node.node-teaser > h2 {
    font-size: 21px;
    line-height: 21px;
}
div.panelizer-view-mode.node.node-teaser.node-resource-dc h2 {
    font-size: 19px;
    line-height: 19px;
}
#featured {
  background-color: whitesmoke;
  border-bottom: 1px solid #e5e5e5;
}
#featured p u {
  text-decoration: none;
  border-bottom: 2px solid grey;
}
#featured p u a {
  text-decoration: none;
}
#carousel {
  height: 300px;
  margin-bottom: 0;
}
#carousel .item {
  height: 240px;
  padding: 60px 10% 0 10%;
  text-align: center;
  width: 80%;
}
#carousel .item h1 {
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;  
  margin-bottom: 20px;
}
#carousel .item p {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.25;
  margin-bottom: 20px;
}
#carousel .carousel-control {
  background-color: transparent;
  border: 0;
  color: #333;
  font-size: 100px;
  line-height: 100px;
  top: 50%;
  height: 100px;
  margin-top: -50px;
}
#header {
  background-color: whitesmoke;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;
}
#main {
  padding: 30px 0;
}
#main .block {
  margin-bottom: 30px;
}
#sidebar-first > .region {
  padding-right: 10px;
}
#sidebar-second > .region {
  padding-left: 10px;
}
.sidebar input.form-text {
  width: 70%;
}
#footer {
  background-color: whitesmoke;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 30px;
  padding-top: 30px;
}
.footer-links a {
  margin-left: 15px;
}
.block > h2 {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: normal;
}


/* Tags */

.field-tags {
  margin: 2em 0 2em 0;
}
.field-tags a.badge {
  background: #08c;
  border: 1px solid #08c;
  margin-bottom: .4em;
}
.field-tags a.badge:not(:hover) {
  background: snow;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  color: grey;
  text-shadow: none;
}


form.search-form input {
    width: 100%;
}
.pane-views-panes > h2,
.pane-block > h2 {
    text-transform: uppercase;
    color: #999;
    font-size: 1.4em;
    font-weight: normal;
}

div#overlay {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #858585 1px 1px 4px;
    -moz-box-shadow: #858585 1px 1px 4px;
    box-shadow: #858585 1px 1px 4px;
}
.user-picture,
.views-field-picture{
    background: #FFF;
    display: inline-block;
    padding: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #858585 1px 1px 4px;
    -moz-box-shadow: #858585 1px 1px 4px;
    box-shadow: #858585 1px 1px 4px;
    line-height: 0;
}

/** quickfixes. Until we get designs from AgroKnow **/
i.icon-chevron-down {
  display:none;
}
/** USABILITY FIXES **/
div.pane-content .front-box {
  min-height: 270px;
}
.front #search-form2 {
  margin-top:0;
}
.front-box form input[type="text"],
.front-box form input[type="password"],
.front #edit-basic div.input-append {
  width:80%;
}


/** front page bullet **/

.rhbutton {
  /*background: #779FBB;*/
  background:#78b5b8;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  margin: 0;
  width: 100%;
}
a {
  color: #58A;
}
.rhbutton:hover {
  /*background: #557286;*/
  background:#5B8E91;
}
.rhbutton img {
  border-width: 0; 
  display: block;
  height: 56%;
  padding: 22% 28% 22% 36%;
  width: 36%;
}
.rhbutton {
  cursor: pointer;
}
.rh-nessie-button {
  display: inline-block;
  height: 34px;
  overflow: hidden;
  padding: 0;
  width: 34px;
}
.rh-nessie-buttonc {
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 34px;
  display: inline-block;
}
.t-center{
  text-align:center;
}